/* body {
    color: #DA17C8;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #DA17C8;
  background-color: #dc98ec;
} */
